<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Page Factories">




	<test name="Flipkart Test">
		<classes>
			
			<class name="com.w2a.testcases.AmazonTest" />
		</classes>
	</test> <!-- Test -->

	


</suite> <!-- Suite -->
